<launch>
  <env name="CUDA_VISIBLE_DEVICES" value="1" />
  <remap to="/stereo_camera/left/image_rect_color" from="ld_image_input" />
  <node name="cnn" pkg="ld_lsi" type="cnn_node.py">
    <param name="debug" value="true" />
  </node>
  <node name="clustering" pkg="ld_lsi" type="clustering_node.py">
    <param name="debug" value="true" />
  </node>
</launch>
